<h1>User Login Form</h1>

<form method='post'%>
    <label>Username:</label>
    <input name='username'>
    <label>Password:</label>
    <input name='password'>
    <input type='submit' value='login'>
</form>

<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
<% else %>
  <%= link_to('Log in with Facebook!', '/auth/facebook', method: :post) %>
<% end %>