<header>
    <div class="header_box" id="browsing_links">
        <div class="header_link">
            <%=link_to "COLLECTION", "/items", class: 'header_link' %>
        </div>
        <div class="header_link">
            <%=link_to "STORES", "/stores", class: 'header_link' %>
        </div>
        <div class="header_link">
            <%=link_to "WOMEN", "/women", class: 'header_link' %>
        </div>
        <div class="header_link">
            <%=link_to "MEN", "/men", class: 'header_link' %>
        </div>
    </div>

    <div class="header_box" id="header_logo">
        <%=link_to image_tag("logos/daintree_logo_landscape_white.png"), {action: 'home', controller: 'items'}  %>
    </div>

    <div class="header_box" id="user_links">
        <div id="user_links_spacer"></div>
        <div id="user_links_image_signin">
            <%=image_tag("icons/user_signin_white.png")%>
            
        </div>
        <span>
                <select id="selectbox" name="user" onchange="javascript:location.href = this.value;">
                    <option value="/" selected></option>
                    <option value="/login">Login</option>
                    <option value="/logout">Logout</option>
                </select>
        </span>
        <div id="user_links_image_cart">
            <%=link_to image_tag("icons/shopping_cart_white.png"), {action: 'cart', controller: 'items'}%>
        </div>
    </div>
</header>

<h2>Add a new store</h2>

<% if @store.errors.any? %>
    <div class="errors">
        <h3>There were some errors:</h3>
        <ul class="error_ul">
            <%@store.errors.full_messages.each do |message|%>
                <li><%= message %></li>
            <%end%>
        </ul>
    </div>
<%end%>

<div class="new_store_form">
    <%=form_for @store do |f|%>
        <label><strong>Store Name:</strong></label><br>
        <%= f.text_field :name %> <br><br>

        <label><strong>Brief Description:</strong></label><br>
        <%=f.text_area :description %> <br><br>

        <label><strong>Square Logo URL:</strong></label><br>
        <%=f.text_area :logo_url_square %> <br><br>

        <label><strong>Square Logo URL:</strong></label><br>
        <%=f.text_area :logo_url_landscape %> <br><br>

        <%=f.submit "Submit Store"%>
    <%end%>
</div>