<h1>Add a new store</h1>

<% if @store.errors.any? %>
    <div class="errors">
        <h3>There were some errors:</h3>
        <ul class="error_ul">
            <%@store.errors.full_messages.each do |message|%>
                <li><%= message %></li>
            <%end%>
        </ul>
    </div>
<%end%>

<div class="new_store_form">
    <%=form_for @store do |f|%>
        <label><strong>Store Name:</strong></label><br>
        <%= f.text_field :name %> <br><br>

        <label><strong>Brief Description:</strong></label><br>
        <%=f.text_area :description %> <br><br>

        <label><strong>Square Logo URL:</strong></label><br>
        <%=f.text_area :logo_url_square %> <br><br>

        <label><strong>Square Logo URL:</strong></label><br>
        <%=f.text_area :logo_url_landscape %> <br><br>

        <%=f.submit "Submit Store"%>
    <%end%>
</div>