
<header>
    <div class="header_box" id="browsing_links">
        <div class="header_link">
            <%=link_to "COLLECTION", "/items", class: 'header_link' %>
        </div>
        <div class="header_link">
            <%=link_to "STORES", "/stores", class: 'header_link' %>
        </div>
        <div class="header_link">
            <%=link_to "WOMEN", "/women", class: 'header_link' %>
        </div>
        <div class="header_link">
            <%=link_to "MEN", "/men", class: 'header_link' %>
        </div>
    </div>

    <div class="header_box" id="header_logo">
        <%=link_to image_tag("logos/daintree_logo_landscape_white.png")%> 
    </div>

    <div class="header_box" id="user_links">
        <div id="user_links_spacer"></div>
        <div id="user_links_image_signin">
            <%=link_to image_tag("icons/user_signin_white.png"), {action: 'new', controller: 'sessions'}%>
        </div>
        <div id="user_links_image_cart">
            <%=link_to image_tag("icons/shopping_cart_white.png"), {action: 'cart', controller: 'items'}%>
        </div>
    </div>
</header>

<h2>Create your account</h2>

<% if @user.errors.any? %>
    <h2>There were some errors:</h2>
    <ul>
        <%@user.errors.full_messages.each do |message|%>
            <li><%= message %></li>
        <%end%>
    </ul>
<%end%>

<div class="new_user_form">
    <%=form_for @user do |f|%>

        <h3>Details</h3>

        <label>First Name:</label>
        <%= f.text_field :first_name %>
        <label>Last Name:</label>
        <%= f.text_field :last_name %> <br><br>

        <label>Email:</label>
        <%= f.text_field :email %>
        <label>Phone:</label>
        <%= f.text_field :phone %> <br><br>

        <label>Gender:</label>
        <%= select_tag "gender", options_for_select(["F", "M", "Not Specified"]), include_blank: true%>
        <label>Birthday:</label>
        <%= f.date_field :dob %> <br><br>


        <h3>Address</h3>

        <%= f.fields_for :addresses do |addr| %>
            <%= addr.label :street_address %>
            <%= addr.text_field :street_address %><br><br>

            <%= addr.label :city %>
            <%= addr.text_field :city %>

            <%= addr.label :state %>
            <%= select_tag "state", options_for_select(["ACT", "NSW", "NT", "QLD", "SA", "VIC", "TAS", "WA"]), include_blank: true%>
            
            <%= addr.label :postcode %>
            <%= addr.text_field :postcode %><br><br>

            <%= addr.label :address_type %>
            <%= select_tag "address_type", options_for_select(["Home", "Work"]), include_blank: true%> <br><br>
        <%end%>

        <h3>Username and Password</h3>

        <label>Username:</label>
        <%= f.text_field :username %> <br><br>

        <label>Password:</label>
        <%= f.text_field :password %>

        <label>Password Confirmation:</label>
        <%= f.text_field :password_confirmation %>

        <br><br>
        <%=f.submit "Submit"%>
    <%end%>
</div>

<div class="section_spacer"></div>

<footer>
    <div class="footer_spacer"></div>

    <div class="footer_icon">
        <div class="footer_icon_image"><%=image_tag("icons/free_delivery_white.png") %></div>
        <div>FREE DELIVERY OVER $50</div> 
    </div>
    <div class="footer_icon">
        <div class="footer_icon_image"><%=image_tag("icons/buy_now_pay_later_white.png") %></div>
        <div>BUY NOW PAY LATER</div> 
    </div>
    <div class="footer_icon">
        <div class="footer_icon_image"><%=image_tag("icons/free_returns_white.png") %></div>
        <div>FREE RETURNS</div> 
    </div>
    <div class="footer_icon">
        <div class="footer_icon_image"><%=image_tag("icons/click_and_collect_white.png") %></div>
        <div>CLICK AND COLLECT</div> 
    </div>

    <div class="footer_spacer"></div>
</footer>
