<h1>User Profile</h1>

<div class="user_profile">
    <div class="personal_details">
        <h2 class="user_profile_header">Details</h2>
        <br>

        <label><strong>User ID:</strong></label>
        <%=@user.id%> <br><br>

        <label><strong>First Name:</strong></label>
        <%=@user.first_name%> <br>

        <label><strong>Last Name:</strong></label>
        <%=@user.last_name%> <br><br>

        <label><strong>Email:</strong></label>
        <%=@user.email%> <br>

        <label><strong>Phone:</strong></label>
        <%=@user.phone%> <br><br>

        <label><strong>Birthday:</strong></label>
        <%=@user.dob%> <br><br>
    </div>

    <div class="address">
        <h2 class="user_profile_header">Address</h2>
        <br>

        <label><strong>Street Address:</strong></label>

        <%=@address[0][:street_address]%> <br>
        <label><strong>City:</strong></label>
        <%=@address[0][:city]%> <br>
        <label><strong>State:</strong></label>
        <%=@address[0][:state]%> <br>
        <label><strong>Postal Code:</strong></label>
        <%=@address[0][:postcode]%> <br>

    </div>
</div>



