<header>
    <div class="header_box" id="browsing_links">
        <div class="header_link">
            <%=link_to "COLLECTION", "/items", class: 'header_link' %>
        </div>
        <div class="header_link">
            <%=link_to "STORES", "/stores", class: 'header_link' %>
        </div>
        <div class="header_link">
            <%=link_to "WOMEN", "/women", class: 'header_link' %>
        </div>
        <div class="header_link">
            <%=link_to "MEN", "/men", class: 'header_link' %>
        </div>
    </div>

    <div class="header_box" id="header_logo">
        <%=link_to image_tag("logos/daintree_logo_landscape_white.png"), {action: 'home', controller: 'items'}  %>
    </div>

    <div class="header_box" id="user_links">
        <div id="user_links_spacer"></div>
        <div id="user_links_image_signin">
            <%=image_tag("icons/user_signin_white.png")%>
            
        </div>
        <span>
                <select id="selectbox" name="user" onchange="javascript:location.href = this.value;">
                    <option value="/" selected></option>
                    <option value="/login">Login</option>
                    <option value="/logout">Logout</option>
                </select>
        </span>
        <div id="user_links_image_cart">
            <%=link_to image_tag("icons/shopping_cart_white.png"), {action: 'cart', controller: 'items'}%>
        </div>
    </div>
</header>

<h2>User Profile</h2>

<div class="user_profile">
    <div class="personal_details">
        <h2 class="user_profile_header">Details</h2>
        <br>

        <label><strong>User ID:</strong></label>
        <%=@user.id%> <br><br>

        <label><strong>First Name:</strong></label>
        <%=@user.first_name%> <br>

        <label><strong>Last Name:</strong></label>
        <%=@user.last_name%> <br><br>

        <label><strong>Email:</strong></label>
        <%=@user.email%> <br>

        <label><strong>Phone:</strong></label>
        <%=@user.phone%> <br><br>

        <label><strong>Birthday:</strong></label>
        <%=@user.dob%> <br><br>
    </div>

    <div class="address">
        <h2 class="user_profile_header">Address</h2>
        <br>

        <label><strong>Street Address:</strong></label>

        <%=@address[0][:street_address]%> <br>
        <label><strong>City:</strong></label>
        <%=@address[0][:city]%> <br>
        <label><strong>State:</strong></label>
        <%=@address[0][:state]%> <br>
        <label><strong>Postal Code:</strong></label>
        <%=@address[0][:postcode]%> <br>

    </div>
</div>



