<h1>User Profile</h1>

<label>First Name:</label>
<%=@user.first_name%> <br>

<label>Last Name:</label>
<%=@user.last_name%> <br>

<label>Date of Birth:</label>
<%=@user.dob%> <br>

<label>Email:</label>
<%=@user.email%> <br>

<label>Phone:</label>
<%=@user.phone%> <br>

<br>
<h2>Address</h2>
<br>

<label>Street Address:</label>

<%=@address[0][:street_address]%> <br>
<label>City:</label>
<%=@address[0][:city]%> <br>
<label>State:</label>
<%=@address[0][:state]%> <br>
<label>Postal Code:</label>
<%=@address[0][:postcode]%> <br>




