
<header>
    <div class="header_box" id="browsing_links">
        <div class="header_link">
            <%=link_to "COLLECTION", "/items", class: 'header_link' %>
        </div>
        <div class="header_link">
            <%=link_to "STORES", "/stores", class: 'header_link' %>
        </div>
        <div class="header_link">
            <%=link_to "WOMEN", "/women", class: 'header_link' %>
        </div>
        <div class="header_link">
            <%=link_to "MEN", "/men", class: 'header_link' %>
        </div>
    </div>

    <div class="header_box" id="header_logo">
        <%=link_to image_tag("logos/daintree_logo_landscape_white.png")%>
    </div>

    <div class="header_box" id="user_links">
        <div id="user_links_spacer"></div>
        <div id="user_links_image_signin">
            <%=image_tag("icons/user_signin_white.png")%>
            
        </div>
        <span>
                <select id="selectbox" name="user" onchange="javascript:location.href = this.value;">
                    <option value="/" selected></option>
                    <option value="/login">Login</option>
                    <option value="/logout">Logout</option>
                </select>
        </span>
        <div id="user_links_image_cart">
            <%=link_to image_tag("icons/shopping_cart_white.png"), {action: 'cart', controller: 'items'}%>
        </div>
    </div>
</header>

<div class="section_spacer"></div>


<section id="men_and_women">
    <div class="mw_image" id="mw_image_w">
        <%=image_tag("homepage_images/woman_fashion_01_resized.png") %>
        <a href="/women" class="btn_homepage_mw" id="btn_homepage_w">WOMEN</a>
    </div>
    <div class="mw_image" id="mw_image_m">
        <%=image_tag("homepage_images/man_fashion_01_resized.png") %>
        <a href="/men" class="btn_homepage_mw" id="btn_homepage_m">MEN</a>
    </div>
</section>

<div class="section_spacer"></div>

<h2>Featured Stores</h2>
<section id="featured_stores">
    <a href="http://localhost:3000/stores/1/items">
        <img alt="Pact" src="https://schimiggy.com/wp-content/uploads/2020/04/pact-apparel-logo-square.jpg">
    </a>
    <a href="http://localhost:3000/stores/2/items">
        <img alt="Patagonia" src="https://www.charlespost.com/wp-content/uploads/2020/08/Patagonia-Logo-Square.png">
    </a>
    <a href="http://localhost:3000/stores/3/items">
        <img alt="Kotn" src="https://fashionhedge.com/wp-content/uploads/2019/05/ezgif.com-webp-to-jpg.jpg">
    </a>
</section>

<div class="section_spacer"></div>

<footer>
    <div class="footer_spacer"></div>

    <div class="footer_icon">
        <div class="footer_icon_image"><%=image_tag("icons/free_delivery_white.png") %></div>
        <div>FREE DELIVERY OVER $50</div> 
    </div>
    <div class="footer_icon">
        <div class="footer_icon_image"><%=image_tag("icons/buy_now_pay_later_white.png") %></div>
        <div>BUY NOW PAY LATER</div> 
    </div>
    <div class="footer_icon">
        <div class="footer_icon_image"><%=image_tag("icons/free_returns_white.png") %></div>
        <div>FREE RETURNS</div> 
    </div>
    <div class="footer_icon">
        <div class="footer_icon_image"><%=image_tag("icons/click_and_collect_white.png") %></div>
        <div>CLICK AND COLLECT</div> 
    </div>

    <div class="footer_spacer"></div>
</footer>
