<h1>Da Hoooooome Paaaaage</h1>

<header>
    <div class="header_box" id="browsing_links">
        <div class="header_link">COLLECTION</div>
        <div class="header_link">STORES</div>
        <div class="header_link">WOMEN</div>
        <div class="header_link">MEN</div>
    </div>

    <div class="header_box" id="header_logo">
        <%=image_tag("logos/daintree_logo_landscape_white.png") %>
    </div>

    <div class="header_box" id="user_links">
        <div id="user_links_spacer"></div>
        <div id="user_links_image_signin">
            <%=image_tag("icons/user_signin_white.png") %>
        </div>
        <div id="user_links_image_cart">
            <%=image_tag("icons/shopping_cart_white.png") %>
        </div>
    </div>
</header>

<section id="men_and_women">

    <div class="mw_image" id="mw_image_w">
        <%=image_tag("homepage_images/woman_fashion_01_resized.png") %>
    </div>
    <div class="mw_image" id="mw_image_m">
        <%=image_tag("homepage_images/man_fashion_01_resized.png") %>
    </div>

</section>

<footer>
        <div class="footer_spacer"></div>
        <div class="footer_icon">
            <div class="footer_icon_image"><%=image_tag("icons/free_delivery_white.png") %></div>
            <div>FREE DELIVERY OVER $50</div> 
        </div>
        <div class="footer_icon">
            <div class="footer_icon_image"><%=image_tag("icons/buy_now_pay_later_white.png") %></div>
            <div>BUY NOW PAY LATER</div> 
        </div>
        <div class="footer_icon">
            <div class="footer_icon_image"><%=image_tag("icons/free_returns_white.png") %></div>
            <div>FREE RETURNS</div> 
        </div>
        <div class="footer_icon">
            <div class="footer_icon_image"><%=image_tag("icons/click_and_collect_white.png") %></div>
            <div>CLICK AND COLLECT</div> 
        </div>
        <div class="footer_spacer"></div>
</footer>
