<header>
    <div class="header_box" id="browsing_links">
        <div class="header_link">
            <%=link_to "COLLECTION", "/items", class: 'header_link' %>
        </div>
        <div class="header_link">
            <%=link_to "STORES", "/stores", class: 'header_link' %>
        </div>
        <div class="header_link">
            <%=link_to "WOMEN", "/women", class: 'header_link' %>
        </div>
        <div class="header_link">
            <%=link_to "MEN", "/men", class: 'header_link' %>
        </div>
    </div>

    <div class="header_box" id="header_logo">
        <%=link_to image_tag("logos/daintree_logo_landscape_white.png"), {action: 'home', controller: 'items'}  %>
    </div>

    <div class="header_box" id="user_links">
        <div id="user_links_spacer"></div>
        <div id="user_links_image_signin">
            <%=image_tag("icons/user_signin_white.png")%>
            
        </div>
        <span>
                <select id="selectbox" name="user" onchange="javascript:location.href = this.value;">
                    <option value="/" selected></option>
                    <option value="/login">Login</option>
                    <option value="/logout">Logout</option>
                </select>
        </span>
        <div id="user_links_image_cart">
            <%=link_to image_tag("icons/shopping_cart_white.png"), {action: 'cart', controller: 'items'}%>
        </div>
    </div>
</header>

<h2>Add a new item</h2>

<% if @item.errors.any? %>
    <div class="errors">
        <h3>There were some errors:</h3>
        <ul class="error_ul">
            <%@item.errors.full_messages.each do |message|%>
                <li><%= message %></li>
            <%end%>
        </ul>
    </div>
<%end%>


    <%=form_for @item do |f|%>
        <div class="new_item_form">
            <div class="new_item_info_1">
                <label><strong>Item Name:</strong></label><br>
                <%= f.text_field :name %> <br><br>

                <label><strong>Category:</strong></label><br>
                <%=f.select :category, options_for_select(["clothes"]), include_blank: true%> <br><br>

                <label><strong>Sub-Category:</strong></label><br>
                <%=f.select :sub_category, options_for_select(["jeans", "shirt", "jacket"]), include_blank: true%> <br><br>

                <label><strong>Brief Description:</strong></label><br>
                <%=f.text_area :description %> <br><br>
            </div>

            <div class="new_item_info_2">
                <label><strong>Gender:</strong></label><br>
                <%=f.select :gender, options_for_select(["M", "F", "Not Specified"]), include_blank: true%> <br><br>

                <label><strong>Size:</strong></label><br>
                <%=f.select :size, options_for_select(["S", "M", "L"]), include_blank: true%> <br><br>

                <label><strong>Price (in cents):</strong></label><br>
                <%= f.number_field :price_cents %> <br><br>

                <label><strong>Stock:</strong></label><br>
                <%= f.number_field :stock %> <br><br>
            </div>

            <div class="new_item_info_3">
                <label><strong>Image URL:</strong></label><br>
                <%= f.text_field :img_url %> <br><br>

                <label><strong>Store (id number):</strong></label><br>
                <%= f.text_field :store_id %> <br><br>
            </div>
        </div>
        <div class="item_submit">
            <%=f.submit "Submit Item"%>
        </div>
    <%end%>
