<h1>Add a new item</h1>

<% if @item.errors.any? %>
    <h2>There were some errors:</h2>
    <ul>
        <%@item.errors.full_messages.each do |message|%>
            <li><%= message %></li>
        <%end%>
    </ul>
<%end%>

<div class="new_item_form">
    <%=form_for @item do |f|%>
        <label><strong>Item Name:</strong></label><br>
        <%= f.text_field :name %> <br><br>

        <label><strong>Category:</strong></label><br>
        <%= f.text_field :category %> <br><br>

        <label><strong>Sub-Category:</strong></label><br>
        <%= f.text_field :sub_category %> <br><br>

        <label><strong>Stock:</strong></label><br>
        <%= f.number_field :stock %> <br><br>

        <label><strong>Price (in cents):</strong></label><br>
        <%= f.number_field :price_cents %> <br><br>

        <label><strong>Brief Description:</strong></label><br>
        <%=f.text_area :description %> <br><br>

        <label><strong>Size:</strong></label><br>
        <%= f.text_field :size %> <br><br>

        <label><strong>Gender:</strong></label><br>
        <%= f.text_field :gender %> <br><br>

        <label><strong>Image URL:</strong></label><br>
        <%= f.text_field :img_url %> <br><br>

        <label><strong>Store:</strong></label><br>
        <%= f.text_field :store_id %> <br><br>

        <%=f.submit "Submit Item"%>
    <%end%>
</div>